.editable {
  border: 2px solid lightcoral;
  outline: none;
  border-radius: 4px;
  min-height: 500px;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Microsoft Jhenghei,sans-serif;
  font-size: 14px;
  width: 800px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 5px;

  /* 单词内不换行，但当单词长度超过一行溢出时强制换行。 */
  word-wrap: break-word;
  word-break: normal;
}

.toolbar{
  text-align: center;
  margin-bottom: 10px;
  button {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background: white;
    width: 70px;
    cursor: pointer;
    outline: none;
  }

  .second-row {
    margin-top: 10px;
    .link-wrapper {
      display: inline-block;
      input {
        padding: 4px 0;
        margin-right: 2px;
        outline: none;
        border-radius: 5px;
        border: 1px solid lightgray;
      }
    }
  }
}

.blockquote {
  border-left: 4px solid blue;
  list-style: none;
  padding-left: 10px;
  margin: 20px 0 20px 10px;
}

.size-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 200px;
  height: 100px;
  padding: 5px;
  background: lightcoral;
  button {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.image-options-default {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 5px;
  button {
    border-radius: 5px;
    border: 1px solid lightgray;
    background: white;
    outline: none;
  }
  .rechoose {
    float: left;
    margin-left: 5px;
  }
  .figure-caption {
    position: absolute;
    left: 50%; bottom: 0px;
    transform: translate(-50%, 0);
  }
  .delete {
    float: right;
    margin-right: 5px;
  }
}

.image-options {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 5px;
  button {
    border-radius: 5px;
    border: 1px solid lightgray;
    background: white;
    outline: none;
  }
  .rechoose {
    float: left;
    margin-left: 5px;
  }
  .figure-caption {
    position: absolute;
    left: 50%; bottom: 0px;
    transform: translate(-50%, 0);
  }
  .delete {
    float: right;
    margin-right: 5px;
  }
}

.anchor-preview-default {
  position: absolute;
  display: inline-block;
  left: 50%; top: 50%;
  padding: 0 5px;
  height: 40px;
  background-color: #2f3338;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  & a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid #2f3338;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%; top: -10px;
    transform: translate(-10px, 0);
  }
}

.loading-default {
  width: 30px;
  height: 30px;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #67CF22;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
   
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}